<table>
  <tr *ngFor="let row of [0, 1, 2]">
    <td
      *ngFor="let col of [0, 1, 2]"
      (click)="cellClicked(row, col)">
      {{ board.state[convertFieldCoordinatesToIndex(row, col)] }}
    </td>
  </tr>
</table>

<div *ngIf="!result">
  Whose turn is it?
  <strong>{{ board.whoseTurn === SquareState.Menace ? 'Menace' : 'Player' }}</strong>
</div>

<div class="result-container" *ngIf="result">
  <strong>{{ result | result }}</strong>
</div>

<div class="finish-game-container">
  <button (click)="nextGame()" [disabled]="!result">Next game</button>
</div>